
<script type="text/x-handlebars" data-template-name="ab-test-standup"><div class='background standup'>
  <div class="jumbotron masthead"><img src="/images/standup/standup-logo.png" class="logo"/>
    <div class="product-shots clearfix"><img src="/images/standup/hero.png" class="product-image"/></div></div>
  </div>
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <h1>SPORTSZZZZZ</h1>
        <h3>Discover what&#39;s really popular, find new shows to watch and discuss with other fans.</h3>
        <div class="signup">
          <h4>Be smart. Join the beta first.</h4>
          <form>
            <div id="emailGroup" class="control-group">
              <div class="controls">{{view view.emailTextField valueBinding="view.email" placeholder="Email"}}
                <div class="clear-divs"></div><span class="help-inline">{{view.emailError}}</span>
                <div class="disclaimer">Don't worry. We won't sell or spam your email.</div>
              </div>
            </div><button class="green" {{action "showEmail" target="parentView"}}>Submit</button>
          </form>
        </div>
      </div>
      <div class="clear"></div>
      <div class="upsell clearfix">
        <div class="span4">
          <h2 class="img"><img src="images/golf/check.png"/></h2>
          <h2>Rate shows you watch</h2>
          <h5>Vote thumbs up or thumbs down for any show you watch and influence the rating.</h5>
          <h5>Like RottenTomatoes, see if the overall reaction was positive or negative, directly from the people who watch it.</h5>
        </div>
        <div class="span4">
          <h2 class="img"><img src="images/golf/check.png"/></h2>
          <h2>See what&#39;s popular</h2>
          <h5>Was that episode of Breaking Bad really as good as critics said? See what the real audience thought.</h5>
          <h5>Join the discussion with the people that watte the show and talk about what you liked (or disliked)</h5>
        </div>
        <div class="span4">
          <h2 class="img"><img src="images/golf/check.png"/></h2>
          <h2>Save your place in line</h2>
          <h5>Sign up and join the closed beta now. We are launching a limited release so sign up early.</h5>
          <h5>CrowdTV arrives Spring 2013.</h5>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>{{view view.emailSubmitView}}
</script>