script(type='text/x-handlebars', data-template-name='admin')
  .container.admin
      .row
        .span9.offset1
          h3 Administration

          .alert.alert-info
            p Sign In above to access the A/B test cases

          p Welcome to the Lean Startup A/B Testing Administration Tool.  Please login to access the A/B Tests and the User Tests.
          p Detailed instructions for both
              


            